@charset "utf-8";
/* CSS Document */

body
{
	margin: 0px 0px;
}

#header1
{
	background: url(images/header1.png);
	width: auto;
	height: 93px;
}
	
#header1 .left
{
	float: left;
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 24pt;
	
	padding-left: 15px;
	padding-top: 15px;
}
	
#header1 .right
{
	float: right;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: #FFF;
	padding-right: 5px;
}
	
#header1 .right a
{
	color: #FFF;
}
	
#header2
{
	background: url(images/header2.png);
	width: auto;
	height: 31px;		
	padding-left: 15px;
}

#header2 #item_currentpage
{
	background: #05598e;
	height: 26px;
	float: left;
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
		
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}
	

		
		
	footer
	{
		margin: 0px auto;
		border-top: 1px solid #CCC;
		margin-left: 40px;
		margin-right: 40px;
		display: block;
		clear: both;
	}
		
	footer #text
	{
		margin: 0px auto;
		color: #CCC;
		width: 490px;
	}
	
	footer #text a
	{
		color: #787878;
	}
		
	#content
	{
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}

		div#users-contain { width: auto; font-size: 10px; }
		div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }